<?xml version="1.0"?>
<!-- 
/**
 * I95Dev.com
 *
 * I95DevRepositoryInterface Class Doc Comment
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://store.i95dev.com/LICENSE-M1.txt
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to sub@i95dev.com so we can send you a copy immediately.
 * PHP version 5
 *
 * @category    I95DevConnect
 * @package     I95DevConnect_MessageQueue
 * @Description I95DevRepositoryInterface
 * @author      I95Dev <info@i95dev.com>
 * @copyright   2000-2016 i95Dev
 * @license     http://store.i95dev.com/LICENSE-M1.txt EULA
 * @link        http://store.i95dev.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="i95dev_connect_extensions" translate="label" sortOrder="1000000">
            <label>I95Dev Connect</label>
        </tab>
        <section id="messagequeue" translate="label" type="text" sortOrder="10000000000" showInDefault="1"
                 showInWebsite="1" showInStore="0">
            <label>I95Dev Message Queue Report</label>
            <class>separator-top</class>
            <tab>i95dev_connect_extensions</tab>
            <resource>I95DevConnect_MessageQueue::messagequeue</resource>
            <group id="messagequeue_option" translate="label" type="text" sortOrder="16" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Message Queue Report Configuration</label>
                <field id="enable_plugin" translate="label" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable(extension)</label>
                    <comment>To enable or disable the extension.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Magento\Contact\Model\System\Config\Backend\Links</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>

