<?xml version="1.0"?>
<!-- 
/**
 * I95Dev.com
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://store.i95dev.com/LICENSE-M1.txt
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to sub@i95dev.com so we can send you a copy immediately.
 * PHP version 5
 *
 * @category    I95DevConnect
 * @package     I95DevConnect_MessageQueue
 * @Description Di
 * @author      I95Dev <info@i95dev.com>
 * @copyright   2000-2016 i95Dev
 * @license     http://store.i95dev.com/LICENSE-M1.txt EULA
 * @link        http://store.i95dev.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="I95DevConnect\MessageQueue\Api\I95DevRepositoryInterface"
                type="I95DevConnect\MessageQueue\Model\I95DevRepository"/>
    <preference for="I95DevConnect\MessageQueue\Api\Data\CustomerInterface"
                type="I95DevConnect\MessageQueue\Model\Data\Customer"/>
    <preference for="I95DevConnect\MessageQueue\Api\Data\AddressInterface"
                type="I95DevConnect\MessageQueue\Model\Data\Address"/>
    <preference for="I95DevConnect\MessageQueue\Api\Data\ProductInterface"
                type="I95DevConnect\MessageQueue\Model\Data\Product"/>
    <preference for="I95DevConnect\MessageQueue\Api\Data\CustomerGroupInterface"
                type="I95DevConnect\MessageQueue\Model\Data\CustomerGroup"/>
    <preference for="I95DevConnect\MessageQueue\Api\Data\OrderInterface"
                type="I95DevConnect\MessageQueue\Model\Data\Order"/>
    <preference for="I95DevConnect\MessageQueue\Api\Data\InvoiceInterface"
                type="I95DevConnect\MessageQueue\Model\Data\Invoice"/>
    <preference for="I95DevConnect\MessageQueue\Api\Data\InvoiceItemInterface"
                type="I95DevConnect\MessageQueue\Model\Data\InvoiceItem"/>
    <preference for="I95DevConnect\MessageQueue\Api\Data\ShipmentInterface"
                type="I95DevConnect\MessageQueue\Model\Data\Shipment"/>
    <preference for="I95DevConnect\MessageQueue\Api\Data\ShipmentItemInterface"
                type="I95DevConnect\MessageQueue\Model\Data\ShipmentItem"/>
    <preference for="I95DevConnect\MessageQueue\Api\Data\ShipmentTrackerInterface"
                type="I95DevConnect\MessageQueue\Model\Data\ShipmentTracker"/>
    <preference for="I95DevConnect\MessageQueue\Api\Data\UserDefinedInterface"
                type="I95DevConnect\MessageQueue\Model\Data\UserDefined"/>
    <preference for="I95DevConnect\MessageQueue\Api\Data\ShipmentInvoiceItemInterface"
                type="I95DevConnect\MessageQueue\Model\Data\ShipmentInvoiceItem"/>
    <preference for="I95DevConnect\MessageQueue\Api\Data\TierPriceInterface"
                type="I95DevConnect\MessageQueue\Model\Data\TierPrice"/>
    <preference for="I95DevConnect\MessageQueue\Api\Data\PriceListInterface"
                type="I95DevConnect\MessageQueue\Model\Data\PriceList"/>
    <preference for="I95DevConnect\MessageQueue\Api\Data\PriceLevelInterface"
                type="I95DevConnect\MessageQueue\Model\Data\PriceLevel"/>
    <preference for="I95DevConnect\MessageQueue\Api\Data\MsgResponseEntityInterface"
                type="I95DevConnect\MessageQueue\Model\Data\MsgResponseEntity"/>
    <preference for="I95DevConnect\MessageQueue\Api\Data\MsgReportEntityInterface"
                type="I95DevConnect\MessageQueue\Model\Data\MsgReportEntity"/>
    <preference for="I95DevConnect\MessageQueue\Api\Data\CreditOrdersInterface"
                type="I95DevConnect\MessageQueue\Model\Data\CreditOrders"/>
    <preference for="I95DevConnect\MessageQueue\Api\Data\CreditSchedulesInterface"
                type="I95DevConnect\MessageQueue\Model\Data\CreditSchedules"/>
    <preference for="I95DevConnect\MessageQueue\Api\Data\CreditFinanceInterface"
                type="I95DevConnect\MessageQueue\Model\Data\CreditFinance"/>
    <preference for="I95DevConnect\MessageQueue\Api\Data\CreditTransactionHistoryInterface"
                type="I95DevConnect\MessageQueue\Model\Data\CreditTransactionHistory"/>
</config>